{% extends 'base.html.twig' %}

{% block title %}Hello EssaiSymptomeIvanController!{% endblock %}

{% block body %}

    <div class="container">
        <section class="">
            {% for symptome in symptomes %}
                <div class="">
                    <p><h3>Symptôme N° {{ symptome.id }}</h3></p>
                    <div class="">
                        <div><img src="{{ asset('theme/images/about.jpg') }}" height="180" width="320"/></div>
                        <p>{{ symptome.libelle }}</p>
                        <p>{{ date|date("y/m/d") }} à {{ date|date("h:i") }}</p>
                    </div>
                </div>
            {% endfor %}
        </section>

    </div>

{% endblock %}
