                <div class="container">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="fa fa-bars"></span> Menu
                    </button>
                    <div class="order-lg-last">
                        <a href="#" class="btn btn-primary">Make an appointment</a>
                    </div>
                    <div class="collapse navbar-collapse" id="ftco-nav">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active"><a href="{{path("home")}}" class="nav-link">Home</a></li>
                            <li class="nav-item"><a href="{{path("about")}}" class="nav-link">About</a></li>
                            <li class="nav-item"><a href="{{path("team")}}" class="nav-link">Team</a></li>
                            <li class="nav-item"><a href="{{path("service")}}" class="nav-link">Services</a></li>
                            <li class="nav-item"><a href="{{path("departement")}}" class="nav-link">Departments</a></li>
                            <li class="nav-item"><a href="{{path("gallery")}}" class="nav-link">Gallery</a></li>
                            <li class="nav-item"><a href="{{path("blog")}}" class="nav-link">Blog</a></li>
                            <li class="nav-item"><a href="{{path("contact")}}" class="nav-link">Contact</a></li>
                        </ul>
                    </div>
                </div>
